@model IEnumerable<CityProblemSolver.Models.Area>

@{
    ViewData["Title"] = "Areas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["PageTitle"] = "Areas";
    ViewData["Location"] = "Areas";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.RoadNo)*@
                Road No
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoadNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.ID">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.ID" onclick="return confirm('Are sure wants to delete?');">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
